<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qxl.mapper.SourceMapper" >
  <resultMap id="BaseResultMap" type="com.qxl.entity.Source" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="real_source_name" property="realSourceName" jdbcType="VARCHAR" />
    <result column="nick_source_name" property="nickSourceName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from source
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qxl.entity.Source" >
    insert into source (id, real_source_name, nick_source_name
      )
    values (#{id,jdbcType=INTEGER}, #{realSourceName,jdbcType=VARCHAR}, #{nickSourceName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qxl.entity.Source" >
    update source
    set real_source_name = #{realSourceName,jdbcType=VARCHAR},
      nick_source_name = #{nickSourceName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, real_source_name, nick_source_name
    from source
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, real_source_name, nick_source_name
    from source
  </select>
</mapper>